.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-items: center;
    min-height: 100vh;
}

.get-to-know{
    margin-top: 1rem;
    text-align: center;
    max-width: 33rem;
}

.left-and-right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 10rem;
    gap: 2rem;
    max-width: 90rem;
    margin-top: 3rem;
}

.about-left-side{
    flex: 1;
}
    .about-left-side h4{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .about-left-side p{
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

.about-right-side{
    flex: 1;
}

.right-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
    .right-grid div{
        padding: 0.8rem 1.5rem;
        border-radius: 10px;
        background-color: hsla(0, 0%, 71%, 0.253);
        transition: background-color 0.8s ease;
    }
        .right-grid div:hover{
            background-color: hsla(0, 0%, 71%, 0.445);
        }
    .right-grid img{
        width: 25px;
    }
    .right-grid h5{
        margin: 0.6rem 0rem;
    }
    .right-grid p{
        font-size: 0.78rem;
    }
    
    .team-player:hover img{
        width: 25px;
        filter: invert(15%) sepia(98%) saturate(6000%) hue-rotate(355deg) brightness(95%) contrast(105%);
    }

@media screen and (max-width: 980px) {
    .left-and-right-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}