.featured-container{
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.projects-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-items: center;
    justify-content: center;
    width: 56rem;
    margin-top: 5rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    min-width: 27rem;
    max-width: 27rem;
    min-height: 28rem;
    border-radius: 15px;
    box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.2);
}
    .project-card > img{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .project-card > div{
        padding: 1.5rem;
    }

.project-title{
    margin-bottom: 0.8rem;
}

.project-description{
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
}

.project-spans{
    display: flex;
    gap: 0.9rem;
    flex-wrap: wrap;
}
    .project-spans span{
        background-color: rgba(5, 192, 255, 0.233);
        padding: 5px 15px;
        border-radius: 20px;
        font-size: 0.8rem;
        color: rgb(12, 12, 139);
        margin-bottom: 2rem;
    }

.project-buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
}
    .project-buttons img{
        width: 20px;;
    }

.btn-code{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 10px;
    background-color: black;
    color: white;
    border-radius: 8px;
}

.btn-demo{
    padding: 7px 10px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid gray;
}

@media screen and (max-width:980px) {
    .projects-wrapper{
        grid-template-columns: 1fr;
        width: 350px;
    }
}