:root{
    --p-color: hsl(0, 2%, 31%);
}

html{
    scroll-behavior: smooth;
}

h2{
    font-size: 1.95rem;
}

p{
    color: var(--p-color);
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    padding: 15px 20px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgba(116, 117, 117, 0.24);
    background-color: rgb(253, 245, 245);
}

.links{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
    .name{
        font-weight: bold;
        font-size: 20px;
        color: hsla(240, 100%, 56%, 0.904);
    }
    
    .links a{
        color: black;
        font-size: 15px;
    }
        .links a:hover{
            scale: 1.05;
            color: blue;
        }