:root{
    --p-color: hsl(0, 2%, 31%);
}

html{
    scroll-behavior: smooth;
}

h2{
    font-size: 1.95rem;
}

p{
    color: var(--p-color);
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

header{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    gap: 20rem;
    position: fixed;
    border-bottom: 1px solid rgba(116, 117, 117, 0.24);
    background-color: rgb(253, 245, 245);
}

.links{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
    .name{
        font-weight: bold;
        font-size: 20px;
        color: hsla(240, 100%, 56%, 0.904);
    }
    
    .links a{
        color: black;
        font-size: 15px;
    }
        .links a:hover{
            scale: 1.05;
            color: blue;
        }


.ham-menu{
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
    .ham-menu span{
        width: 25px;
        height: 3px;
        background: black;
        transition: 0.25s;
    }


@media screen and (max-width: 850px) {

    header{
        gap: 1rem;
    }

    .links a{
        margin-left: auto;
    }

    .name{
    margin-right: auto;
    }
}

@media screen and (max-width: 630px) {
    .ham-menu{
        display: flex;
    }

    .links{
        position: absolute;
        top: 50px;
        right: 0;
        flex-direction: column;
        width: 100px;
        padding: 1rem;
        background-color: white;
        display: none;
    }

    .links.active{
        display: flex;
    }
}