*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
    padding: 15px 20px;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid gray;
    background-color: rgb(253, 245, 245);
}

.links{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}
    .name{
        font-weight: bold;
        font-size: 20px;
        color: hsla(240, 100%, 56%, 0.904);
    }
    
    .links a{
        color: black;
        text-decoration: none;
        font-size: 15px;
    }