.skills-technologies-container{
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.here-are-the-technologies{
    text-align: center;
    max-width: 33rem;
}

.skills-technologies-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.skills-technologies-grid span{
    background-color: rgba(5, 192, 255, 0.233);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: rgb(12, 12, 139);
}
    .skills-technologies-grid span:hover{
        background-color: rgba(5, 193, 255, 0.459);
    }

.skills-technologies-grid > div{
    box-shadow: 5px 8px 10px hsla(0, 0%, 0%, 0.1), -5px 8px 10px hsla(0, 0%, 0%, 0.1), 0px -20px 10px white;
    width: 28rem;
    height: 10rem;
    border-radius: 15px;
    text-align: center;
}

.skills-technologies-grid h4{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
}

.spans{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
    padding: 0rem 1rem;
}

@media screen and (max-width: 980px) {
    .skills-technologies-grid{
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .skills-technologies-grid > div{
        width: 350px;
    }
}